* {
  box-sizing: border-box;
  margin: 0;
}

.menu {
  color: purple;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 2px solid black;
  width: 50%;
}

.menu__item {
  padding: 10px;
  border: 2px solid purple;
  background-color: rgb(218, 84, 218);
  cursor: pointer;
  width: 33%;
  position: relative;
}

.submenu {
  list-style-type: none;
  position: absolute;
  padding: 0;
  border: 2px solid purple;
  background-color: rgb(218, 84, 218);
  cursor: pointer;
  width: calc(100% + 4px);
  top: 100%;
  left: -2px;
}

.submenu__item {
  padding: 5px;
  border: 2px solid purple;
  background-color: rgb(218, 84, 218);
  cursor: pointer;
  width: calc(100% + 4px);
  position: relative;
  left: -2px;
}
